<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
                <b> &nbsp; {{activeVm.name}} &nbsp; </b>
            </h3>
          </div>
          <div class="card-body">
            <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#overview" data-toggle="tab" i18n>Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="#details" data-toggle="tab" i18n>Details</a></li>
                    <li class="nav-item"><a class="nav-link" href="#networking" data-toggle="tab" i18n>Networking</a></li>
                    <li class="nav-item"><a class="nav-link" href="#disks" data-toggle="tab" i18n>Disks</a></li>
                    <li class="nav-item"><a class="nav-link" href="#logging" data-toggle="tab" i18n>Logs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vmmonitoring" data-toggle="tab" *ngIf="promCheck" i18n>Monitoring</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vmconsole" data-toggle="tab" i18n>Console</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!-- Overview -->
                    <div class="active tab-pane" id="overview">
                       <dt i18n>Metadata</dt>
                       <br>
                       <dd><ng-container i18n>Name:</ng-container> {{activeVm.name}} </dd>
                       <dd><ng-container i18n>Namespace:</ng-container> {{activeVm.namespace}} </dd>
                       <dd><ng-container i18n>Labels:</ng-container></dd>
                       <ul *ngFor="let thisLabel of activeVm.labels | keyvalue">
                           <li>{{thisLabel.key}} : {{thisLabel.value}}</li>
                       </ul>
                       <hr>
                       <dt i18n>Status</dt>
                       <br>
                       <dd><ng-container i18n>Running:</ng-container> {{activeVm.running}} </dd>
                       <dd><ng-container i18n>Status:</ng-container> {{activeVm.printableStatus}}</dd>
                       <dd><ng-container i18n>Created At:</ng-container> {{activeVm.creationTimestamp}} </dd>
                    </div>
                    <!-- Details -->
                    <div class="tab-pane" id="details">
                        <!-- Custom VM -->
                        <div *ngIf="customTemplate; else vmTemplated">
                          <dt>
                            <ng-container i18n>General Hardware</ng-container>
                            <a class="btn float-right" title="Edit...">
                                <i class="fas fa-pen" (click)="showResize(activeVm.sockets, activeVm.cores, activeVm.threads, activeVm.memory)"></i>
                            </a>
                          </dt>
                          <br>
                          <dd><ng-container i18n>Instance Type:</ng-container> {{activeVm.instType}} </dd>
                          <dd><ng-container i18n>CPU Sockets:</ng-container> {{activeVm.sockets || 0}} </dd>
                          <dd><ng-container i18n>CPU Cores:</ng-container> {{activeVm.cores || 0}} </dd>
                          <dd><ng-container i18n>CPU Threads:</ng-container> {{activeVm.threads || 0}} </dd>
                          <dd><ng-container i18n>Total VM Memory:</ng-container> {{activeVm.memory}} </dd>
                          <dd><ng-container i18n>Firmware:</ng-container> {{activeVm.firmware}} </dd>
                          <dd><ng-container i18n>Secure Boot:</ng-container> {{activeVm.secureBoot}} </dd>
                       </div>
                       <!-- Templated VM -->
                       <ng-template #vmTemplated>
                          <dt>
                            <ng-container i18n>General Hardware</ng-container>
                            <a class="btn float-right" title="Edit...">
                                <i class="fas fa-pen" (click)="showType()"></i>
                            </a>
                          </dt>
                          <br>
                          <dd><ng-container i18n>Instance Type:</ng-container> {{activeVm.instType}} </dd>
                          <dd><ng-container i18n>Total vCPU:</ng-container> {{activeVm.cores * activeVm.sockets * activeVm.threads || 0}}</dd>
                          <dd><ng-container i18n>Total VM Memory:</ng-container> {{activeVm.memory}} </dd>
                          <dd><ng-container i18n>Firmware:</ng-container> {{activeVm.firmware}} </dd>
                          <dd><ng-container i18n>Secure Boot:</ng-container> {{activeVm.secureBoot}} </dd>
                       </ng-template>
                       <hr>
                       <div *ngIf="activeVm.vmi.running">
                            <dt>
                              <ng-container i18n>Instance Information</ng-container>
                            </dt>
                            <br>
                            <dd><ng-container i18n>Operating System Id:</ng-container> {{activeVm.vmi.osId}} </dd>
                            <dd><ng-container i18n>Operating System Name:</ng-container> {{activeVm.vmi.osName}} - {{activeVm.vmi.osPrettyName}}</dd>
                            <dd><ng-container i18n>Operating System Version:</ng-container> {{activeVm.vmi.osVersion}} </dd>
                            <dd><ng-container i18n>Operating System Kernel:</ng-container> {{activeVm.vmi.osKernRel}} - {{activeVm.vmi.osKernVer}} </dd>
                            <hr>
                       </div>
                       <dt>
                        <ng-container i18n>Execution</ng-container>
                        <!--<a class="btn float-right" title="Edit...">
                            <i class="fas fa-pen" (click)="showPc()"></i>
                        </a>-->
                       </dt>
                       <br>
                       <dd><ng-container i18n>Priority Class:</ng-container> {{activeVm.priorityClass}}</dd>
                       <hr>
                    </div>
                    <!-- Networking -->
                    <div class="tab-pane" id="networking">
                       <dt><ng-container i18n>Networking</ng-container></dt>
                       <br>
                       <div class="card" *ngFor="let actualNet of activeVm.networkList">
                            <div class="card-header">
                                <div class="card-title">
                                    <i class="fas fa-network-wired"></i>&nbsp;&nbsp;{{actualNet.name}}
                                </div>
                                <div class="card-tools">
                                    <a class="btn float-right" title="Unplug..." *ngIf="actualNet.hotplug">
                                        <i class="fas fa-minus" (click)="showResize(activeVm.sockets, activeVm.cores, activeVm.threads, activeVm.memory)"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                    <li><ng-container i18n>Name:</ng-container> {{actualNet.name}}</li>
                                    <li><ng-container i18n>Type:</ng-container> {{actualNet.type}}</li>
                                    <li><ng-container i18n>Network:</ng-container> {{actualNet.network}}</li>
                                    <li><ng-container i18n>IP Address:</ng-container> {{actualNet.ip}}</li>
                            </div>
                       </div>
                    </div>
                    <!-- Disks -->
                    <div class="tab-pane" id="disks">
                       <dt>
                            <ng-container i18n>Disks</ng-container>
                            <a class="btn float-right" title="Hotplug...">
                                <i class="fas fa-plus" (click)="showHotplug()"></i>
                            </a>
                            
                        </dt>
                       <br>
                       <div class="card" *ngFor="let actualDisk of activeVm.diskList">
                            <div class="card-header">
                                <div class="card-title">
                                    <i class="fas fa-hdd"></i>&nbsp;&nbsp;{{actualDisk.name}}
                                </div>
                                <div class="card-tools">
                                    <a class="btn btn-tool" title="Unplug..." *ngIf="actualDisk.hotplug">
                                        <i class="fas fa-minus" (click)="showUnplug(actualDisk.name)"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <li><ng-container i18n>Name:</ng-container> {{actualDisk.name}} </li>
                                <li><ng-container i18n>Namespace:</ng-container> {{actualDisk.namespace}} </li>
                                <li><ng-container i18n>Type:</ng-container> {{actualDisk.type}} </li>
                                <li><ng-container i18n>BUS:</ng-container> {{actualDisk.bus}} </li>
                                <li><ng-container i18n>Backend:</ng-container> {{actualDisk.backend}} </li>
                                <li><ng-container i18n>Data Volume Name:</ng-container> {{actualDisk.dataVolume.name}} </li>
                                <li><ng-container i18n>Data Volume Namespace:</ng-container> {{actualDisk.dataVolume.namespace}} </li>
                                <li><ng-container i18n>Data Volume Source Type:</ng-container> {{actualDisk.dataVolume.source}} </li>
                                <li><ng-container i18n>Data Volume Source Value:</ng-container> {{actualDisk.dataVolume.sourceValue}} </li>
                                <li><ng-container i18n>Access Mode:</ng-container> {{actualDisk.accessMode}}</li>
                                <li><ng-container i18n>Cache Mode:</ng-container> {{actualDisk.cacheMode}} </li>
                                <li><ng-container i18n>Capacity:</ng-container> {{actualDisk.size}} </li>
                                <li><ng-container i18n>Storage Class:</ng-container> {{actualDisk.storageClass}}</li>
                                <li><ng-container i18n>Hotplugged:</ng-container> {{actualDisk.hotplug}}</li>
                            </div>
                       </div>
                    </div>
                    <!-- VM Logging -->
                    <div class="tab-pane" id="logging">
                        <dt i18n>Logging</dt>
                        <br>
                        <div id="log-viewer" class="log-viewer">
                            <div id="log-stream" class="log-stream">
                                <span *ngFor="let message of newConsoleMessages" [style]="message.style" [innerHtml]="message.text">
                                </span>
                            </div>
                        </div>
                     </div>
                    <!-- VM Monitoring -->
                    <div class="tab-pane" id="vmmonitoring">  
                       <dt i18n>Monitoring</dt>
                       <br>
                       <!-- PROMETHEUS: CPU -->
                       <div class="row">
                         <div class="col-lg-6 col-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title" i18n>CPU Usage</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative"><div class="chartjs-size-monitor">
                                        <div class="chart-container">
                                            <canvas  id="CpuChart" >{{ cpuChart }}</canvas>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                         </div>
                         <!-- PROMETHEUS: MEMORY -->
                         <div class="col-lg-6 col-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title" i18n>Memory Usage</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative"><div class="chartjs-size-monitor">
                                        <div class="chart-container">
                                            <canvas  id="MemChart" >{{ memChart }}</canvas>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                         </div>
                       </div>
                       <!-- PROMETHEUS: STORAGE -->
                       <div class="row">
                        <div class="col-lg-6 col-6">
                           <div class="card">
                               <div class="card-header border-0">
                                   <div class="d-flex justify-content-between">
                                       <h3 class="card-title" i18n>Storage Usage</h3>
                                   </div>
                               </div>
                               <div class="card-body">
                                   <div class="position-relative"><div class="chartjs-size-monitor">
                                       <div class="chart-container">
                                           <canvas  id="StgChart" >{{ stgChart }}</canvas>
                                       </div>
                                   </div></div>
                               </div>
                           </div>
                        </div>
                        <!-- PROMETHEUS: NET -->
                        <div class="col-lg-6 col-6">
                           <div class="card">
                               <div class="card-header border-0">
                                   <div class="d-flex justify-content-between">
                                       <h3 class="card-title" i18n>Network Usage</h3>
                                   </div>
                               </div>
                               <div class="card-body">
                                   <div class="position-relative"><div class="chartjs-size-monitor">
                                       <div class="chart-container">
                                           <canvas  id="NetChart" >{{ netChart }}</canvas>
                                       </div>
                                   </div></div>
                               </div>
                           </div>
                        </div>
                      </div>
                    </div>
                    <!-- VM Console -->
                    <div class="tab-pane" id="vmconsole">  
                        <iframe width="100%" height="100%" frameBorder="0" style="height: 600px" [src]="urlSafe"></iframe>
                        <br>
                        <p><a href="#" (click)='openNoVNC()' title="Open console..." i18n>Open Full noVNC Client</a></p>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
          <!-- /.card-body -->
        </div>
      </div>

    <!--                    -->
    <!-- Modal: Change Type -->
    <!--                    -->
    <div class="modal fade" id="modal-type" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="type-title"><ng-container i18n>Type:</ng-container> {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-type")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="type-value">
              <label for="newType" i18n>Virtual Machine VM Type:</label>
              <select #changevmtype class="custom-select rounded-0" name="changevm-type" id="changevm-type">
                  <option>Value 1</option>
              </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-type")' i18n>Close</button>
              <button type="button" class="btn btn-primary" (click)="applyType( changevmtype.value)" i18n>Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                -->
    <!-- Modal: Hotplug -->
    <!--                -->
    <div class="modal fade" id="modal-hotplug" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="hotplug-title"><ng-container i18n>Hotplug:</ng-container> {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-hotplug")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="hotplug-value">
              <label for="hotplugVolume" i18n>Volumes:</label>
              <select #hotplugvolume class="custom-select rounded-0" name="hotplug-volume" id="hotplug-volume">
                  <option>Value 1</option>
              </select>
              <label for="hotplugType" i18n>Type:</label>
              <select #hotplugtype class="custom-select rounded-0" name="hotplug-type" id="hotplug-type">
                  <option selected value=disk>Disk</option>
                  <!-- <option value=cdrom>CDROM</option> not supported yet -->
                  <option value=lun>LUN</option>
              </select>
              <label for="hotplugCache" i18n>Type:</label>
              <select #hotplugcache class="custom-select rounded-0" name="hotplug-cache" id="hotplug-cache">
                  <option selected value=none>CacheNone</option>
                  <option value=writethrough>CacheWriteThrough</option>
                  <option value=writeback>CacheWriteBack</option>
              </select>
              <label for="hotplugReadOnly" i18n>Read Only:</label>
              <select #hotplugreadonly class="custom-select rounded-0" name="hotplug-readonly" id="hotplug-readonly">
                <option selected value="no">No</option>
                <option value="yes">Yes</option>
            </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-hotplug")' i18n>Close</button>
              <button type="button" class="btn btn-primary" (click)="applyHotplug(hotplugvolume.value, hotplugtype.value, hotplugcache.value, hotplugreadonly.value)" i18n>Plug</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                      -->
    <!-- Modal: Unplug Volume -->
    <!--                      -->
    <div class="modal fade" id="modal-unplug" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="unplug-title" i18n>Unplug Volume</h4>
              <button type="button" class="close" (click)='hideComponent("modal-unplug")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <input type="hidden" id="unplug-volume" name="unplug-volume" value="">
            <div class="modal-body" id="unplug-value">
              <p>BODY_TEMPLATE</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-unplug")' i18n>Close</button>
              <button type="button" class="btn btn-danger" (click)='applyUnplug()' i18n>Unplug</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Resize -->
    <!--               -->
    <div class="modal fade" id="modal-resize" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="resize-title"><ng-container i18n>Resize:</ng-container> {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-resize")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="resize-value">
              <label for="resize-sockets" i18n>Sockets:</label>
              <input #resizeSockets type="number" class="form-control" id="resize-sockets" name="resize-sockets">
              <label for="resize-cores" i18n>Cores:</label>
              <input #resizeCores type="number" class="form-control" id="resize-cores" name="resize-cores">
              <label for="resize-threads" i18n>Threads:</label>
              <input #resizeThreads type="number" class="form-control" id="resize-threads" name="resize-threas">
              <label for="resize-memory" i18n>Memory (in GB):</label>
              <input #resizeMemory type="number" class="form-control" id="resize-memory" name="resize-memory">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-resize")' i18n>Close</button>
              <button type="button" class="btn btn-primary" (click)="applyResize(resizeSockets.value, resizeCores.value, resizeThreads.value, resizeMemory.value)" i18n>Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                       -->
    <!-- Modal: Priority Class -->
    <!--                       -->
    <div class="modal fade" id="modal-pc" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="type-title"><ng-container i18n>Priority Class:</ng-container> {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-pc")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="type-value">
              <label for="newPriority" i18n>Priority Class:</label>
              <select #changevmpc class="custom-select rounded-0" name="changevm-pc" id="changevm-pc">
                  <option>Value 1</option>
              </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-pc")' i18n>Close</button>
              <button type="button" class="btn btn-primary" (click)="applyPc(changevmpc.value)" i18n>Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    </div>
</div>