<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
                <b> &nbsp; {{activePool.name}} &nbsp; </b>
            </h3>
          </div>
          <div class="card-body">
            <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#overview" data-toggle="tab" i18n>Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="#template" data-toggle="tab" i18n>Pool Template</a></li>
                    <li *ngIf="hasClusterAutoscaler" class="nav-item"><a class="nav-link" href="#autoscaling" data-toggle="tab" i18n>Autoscaling</a></li>
                    <li class="nav-item"><a class="nav-link" href="#virtualmachines" data-toggle="tab" i18n>Instances</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!-- Overview -->
                    <div class="active tab-pane" id="overview">
                       <dt i18n>Metadata</dt>
                       <br>
                       <dd><ng-container i18n>Name:</ng-container> {{activePool.name}} </dd>
                       <dd><ng-container i18n>Namespace:</ng-container> {{activePool.namespace}} </dd>
                       <dd><ng-container i18n>Labels:</ng-container></dd>
                       <ul *ngFor="let thisLabel of activePool.labels | keyvalue">
                           <li>{{thisLabel.key}} : {{thisLabel.value}}</li>
                       </ul>
                       <hr>
                       <dt>
                        <ng-container i18n>Spec</ng-container>
                        <a class="btn float-right" (click)='showReplicas(activePool.namespace, activePool.name, activePool.replicas)' title="Edit...">
                            <i class="fas fa-pen" (click)='showReplicas(activePool.namespace, activePool.name, activePool.replicas)'></i>
                        </a>
                      </dt>
                      <br>
                       <dd><ng-container i18n>Desired Replicas:</ng-container> {{activePool.replicas}} </dd>
                       <dd><ng-container i18n>Cluster Name:</ng-container> {{activePool.clusterName}} </dd>
                       <dd><ng-container i18n>Kubernetes Version:</ng-container> {{activePool.version}} </dd>
                       <hr>
                       <dt><ng-container i18n>Status</ng-container></dt>
                       <br>
                       <dd><ng-container i18n>Phase:</ng-container> {{activePool.phase}} </dd>
                       <dd><ng-container i18n>Ready Replicas:</ng-container> {{activePool.readyReplicas}} </dd>
                       <dd><ng-container i18n>Created At:</ng-container> {{activePool.creationTimestamp}} </dd>
                    </div>
                    <!-- Template -->
                    <div class="tab-pane" id="template">
                        <!-- Custom VM -->
                        <div *ngIf="customTemplate; else vmTemplated">
                          <dt>
                            <ng-container i18n>General Hardware</ng-container>
                          </dt>
                          <br>
                          <dd><ng-container i18n>Instance Type:</ng-container> {{activePool.machineTemplate.instType}} </dd>
                          <dd><ng-container i18n>CPU Sockets:</ng-container> {{activePool.machineTemplate.sockets}} </dd>
                          <dd><ng-container i18n>CPU Cores:</ng-container> {{activePool.machineTemplate.cores}} </dd>
                          <dd><ng-container i18n>CPU Threads:</ng-container> {{activePool.machineTemplate.threads}} </dd>
                          <dd><ng-container i18n>Total VM Memory:</ng-container> {{activePool.machineTemplate.memory}} </dd>
                          <!-- BIOS / UEFI / Secure Boot
                          <br>
                          <dd><ng-container i18n>Firmware:</ng-container> {{activePool.machineTemplate.firmware}} </dd>
                          <dd><ng-container i18n>Secure Boot:</ng-container> {{activePool.machineTemplate.secureBoot}} </dd> 
                          -->
                       </div>
                       <!-- Templated VM -->
                       <ng-template #vmTemplated>
                          <dt>
                            <ng-container i18n>General Hardware</ng-container>
                          </dt>
                          <br>
                          <dd><ng-container i18n>Instance Type:</ng-container> {{activePool.machineTemplate.instType}} </dd>
                          <dd><ng-container i18n>Total vCPU:</ng-container> {{activePool.machineTemplate.cores}} </dd>
                          <dd><ng-container i18n>Total VM Memory:</ng-container> {{activePool.machineTemplate.memory}} </dd>
                          <!-- BIOS / UEFI / Secure Boot
                          <br>
                          <dd><ng-container i18n>Firmware:</ng-container> {{activePool.machineTemplate.firmware}} </dd>
                          <dd><ng-container i18n>Secure Boot:</ng-container> {{activePool.machineTemplate.secureBoot}} </dd> 
                          -->
                       </ng-template>
                       <hr>
                       <dt>
                        <ng-container i18n>Execution</ng-container>
                       </dt>
                       <br>
                       <dd><ng-container i18n>Priority Class:</ng-container> {{activePool.machineTemplate.priorityClass}} </dd>
                       <hr>
                       <dt>
                        <ng-container i18n>Networking</ng-container>
                       </dt>
                       <br>
                       <dd><ng-container i18n>NIC:</ng-container> {{poolNetwork.name}}</dd>
                       <dd><ng-container i18n>NIC Type:</ng-container> {{poolNetwork.type}}</dd>
                       <dd><ng-container i18n>Network:</ng-container> {{poolNetwork.network}}</dd>
                       <hr>
                       <dt><ng-container i18n>Disks</ng-container></dt>
                       <br>
                       <div *ngIf="hasDisk1">
                            <dd><ng-container i18n>Disk 1:</ng-container></dd>
                            <ul>
                                <li><ng-container i18n>Name:</ng-container> {{disk1Info.name}} </li>
                                <li><ng-container i18n>Namespace:</ng-container> {{disk1Info.namespace}} </li>
                                <li><ng-container i18n>Type:</ng-container> {{disk1Info.type}} </li>
                                <li><ng-container i18n>Backend:</ng-container> {{disk1Info.backend}} </li>
                                <li><ng-container i18n>Data Volume Name:</ng-container> {{disk1Info.dataVolumeName}} </li>
                                <li><ng-container i18n>Data Volume Namespace:</ng-container> {{disk1Info.dataVolumeNamespace}} </li>
                                <li><ng-container i18n>Source Type:</ng-container> {{disk1Info.dataVolumeSource}} </li>
                                <li><ng-container i18n>Source Value:</ng-container> {{disk1Info.dataVolumeSourceValue}} </li>
                                <li><ng-container i18n>Access Mode:</ng-container> {{disk1Info.accessMode}}</li>
                                <li><ng-container i18n>Cache Mode:</ng-container> {{disk1Info.cacheMode || ""}} </li>
                                <li><ng-container i18n>Capacity:</ng-container> {{disk1Info.capacity}} </li>
                                <li><ng-container i18n>Storage Class:</ng-container> {{disk1Info.storageClass}}</li>
                            </ul>
                       </div>
                       <div *ngIf="hasDisk2">
                            <dd><ng-container i18n>Disk 2:</ng-container></dd>
                            <ul>
                                <li><ng-container i18n>Name:</ng-container> {{disk2Info.name}} </li>
                                <li><ng-container i18n>Namespace:</ng-container> {{disk2Info.namespace}} </li>
                                <li><ng-container i18n>Type:</ng-container> {{disk2Info.type}} </li>
                                <li><ng-container i18n>Backend:</ng-container> {{disk2Info.backend}} </li>
                                <li><ng-container i18n>Data Volume Name:</ng-container> {{disk2Info.dataVolumeName}} </li>
                                <li><ng-container i18n>Data Volume Namespace:</ng-container> {{disk2Info.dataVolumeNamespace}} </li>
                                <li><ng-container i18n>Source Type:</ng-container> {{disk2Info.dataVolumeSource}} </li>
                                <li><ng-container i18n>Source Value:</ng-container> {{disk2Info.dataVolumeSourceValue}} </li>
                                <li><ng-container i18n>Access Mode:</ng-container> {{disk2Info.accessMode}}</li>
                                <li><ng-container i18n>Cache Mode:</ng-container> {{disk2Info.cacheMode || ""}} </li>
                                <li><ng-container i18n>Capacity:</ng-container> {{disk2Info.capacity}} </li>
                                <li><ng-container i18n>Storage Class:</ng-container> {{disk2Info.storageClass}}</li>
                            </ul>
                       </div>
                    </div>
                    <!-- Autoscaling -->
                    <div class="tab-pane" id="autoscaling">
                       <div>
                          <dt>
                            <ng-container i18n>General Config</ng-container>
                            <a class="btn float-right" (click)='showAutoscaling(activePool.namespace, activePool.name, activePool.minReplicas, activePool.maxReplicas)' title="Edit...">
                                <i class="fas fa-pen" (click)='showAutoscaling(activePool.namespace, activePool.name, activePool.minReplicas, activePool.maxReplicas)'></i>
                            </a>
                          </dt>
                          <br>
                          <dd><ng-container i18n>Minimum Nodes:</ng-container> {{activePool.minReplicas}}</dd>
                          <dd><ng-container i18n>Maximum Nodes:</ng-container> {{activePool.maxReplicas}}</dd>
                       </div>
                    </div>
                    <!-- Virtual Mahcines -->
                    <div class="tab-pane" id="virtualmachines">  
                        <table class="table table-sm" style="vertical-align: middle !important;">
                            <thead>
                                <tr>
                                <th style="width: 10px">&nbsp;</th>
                                <th style="width: 140px" i18n>Virtual Machine</th>
                                <th style="width: 60px" i18n>Node</th>
                                <th style="width: 50px" i18n>Status</th>
                                <th style="width: 50px" i18n>IP Address</th>
                                <th style="width: 50px" i18n>Ready</th>
                                <th style="width: 180px" i18n>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let thisVM of allWorkers">
                                    <td style="line-height: 2.2 !important; align-content: center;">
                                    <span>
                                        <span>
                                        <span class="badge"><i class="fas fa-hdd"></i></span>
                                        </span>
                                    </span>
                                    </td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM details...">{{thisVM.name}}</a></td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM details...">{{thisVM.nodeSel}}</a></td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM details...">{{thisVM.status}}</a></td>
                                    <td style="line-height: 2.2 !important;">
                                    <span [ngSwitch]="thisVM.status">
                                        <span *ngSwitchCase="'running'">
                                            <a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM details...">{{thisVM.vmi.ifAddr}}</a>
                                        </span>
                                        <span *ngSwitchDefault>
                                            <a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM details...">&nbsp;</a>
                                        </span>
                                    </span>
                                    </td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM details...">{{thisVM.ready}}</a></td>
                                    <td style="line-height: 0 !important;">
                                    <!--- INFO BUTTON -->
                                    <span>
                                        <a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="Show info...">
                                        <i class="fas fa-info"></i>
                                        </a>
                                    </span>
                                    <!--- VNC BUTTON -->
                                    <span [ngSwitch]="thisVM.status">
                                        <a class="btn" (click)='openNoVNC(thisVM.namespace, thisVM.name)' title="Open console..." *ngSwitchCase="'running'">
                                        <i class="fas fa-desktop"></i>
                                        </a>
                                        <a class="btn disabled" (click)='openNoVNC(thisVM.namespace, thisVM.name)' title="Open console..." *ngSwitchDefault>
                                        <i class="fas fa-desktop disabled"></i>
                                        </a>
                                    </span>
                                    <!--- POWER ON BUTTON -->
                                    <span [ngSwitch]="thisVM.running">
                                        <a class="btn disabled" (click)='vmOperations("start", thisVM.namespace, thisVM.name)' title="Power on..." *ngSwitchCase="true">
                                          <i class="fas fa-plug disabled"></i>
                                        </a>
                                        <a class="btn" (click)='vmOperations("start", thisVM.namespace, thisVM.name)' title="Power on..." *ngSwitchDefault>
                                          <i class="fas fa-plug"></i>
                                        </a>
                                    </span>
                                    <!--- POWER OFF BUTTON -->
                                    <span [ngSwitch]="thisVM.running">
                                        <a class="btn" (click)='vmOperations("stop", thisVM.namespace, thisVM.name)' title="Power off..." *ngSwitchCase="true">
                                          <i class="fas fa-power-off"></i>
                                        </a>
                                        <a class="btn disabled" (click)='vmOperations("stop", thisVM.namespace, thisVM.name)' title="Power off..." *ngSwitchDefault>
                                          <i class="fas fa-power-off disabled"></i>
                                        </a>
                                    </span>
                                    <!--- RESTART BUTTON -->
                                    <span [ngSwitch]="thisVM.running">
                                        <a class="btn" (click)='vmOperations("reboot", thisVM.namespace, thisVM.name)' title="Restart..." *ngSwitchCase="true">
                                          <i class="fas fa-redo"></i>
                                        </a>
                                        <a class="btn disabled" (click)='vmOperations("reboot", thisVM.namespace, thisVM.name)' title="Restart..." *ngSwitchDefault>
                                          <i class="fas fa-redo disabled"></i>
                                        </a>
                                    </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>


      <!--                 -->
      <!-- Modal: Replicas -->
      <!--                 -->
      <div class="modal fade" id="modal-wp-replicas" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="replicas-wp-title" i18n>Scale: pool-namespace - pool-name</h4>
              <button type="button" (click)='hideComponent("modal-wp-replicas")' class="close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="replicas-wp-value">
              <div class="form-group">
                <input type="hidden" id="replicas-wp-namespace" name="replicas-wp-namespace" value="">
                <input type="hidden" id="replicas-wp-name" name="replicas-wp-name" value="">
                <label for="replicasInput" i18n>New number of replicas</label>
                <input #replicasinput type="number" class="form-control" id="replicas-wp-input" name="replicas-wp-input" placeholder="0">
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" (click)='hideComponent("modal-wp-replicas")' class="btn btn-default" i18n>Close</button>
              <button type="button" class="btn btn-primary" (click)='applyReplicas(replicasinput.value)' i18n>Resize</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div> 


      <!--                     -->
      <!-- Modal: Autoscaling  -->
      <!--                     -->
      <div class="modal fade" id="modal-wp-autoscaling" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="autoscaling-wp-title" i18n>Autoscaling: pool-namespace - pool-name</h4>
              <button type="button" (click)='hideComponent("modal-wp-autoscaling")' class="close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="autoscaling-wp-value">
                <div class="form-group">
                  <input type="hidden" id="autoscaling-wp-namespace" name="replicas-wp-namespace" value="">
                  <input type="hidden" id="autoscaling-wp-name" name="replicas-wp-name" value="">
                  <label for="minwpinput" i18n>Minimum nodes:</label>
                  <input #minwpinput type="number" class="form-control" id="min-wp-input" name="min-wp-input" placeholder="0">
                  <label for="maxwpinput" i18n>Maximum nodes:</label>
                  <input #maxwpinput type="number" class="form-control" id="max-wp-input" name="max-wp-input" placeholder="0">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" (click)='hideComponent("modal-wp-autoscaling")' class="btn btn-default" i18n>Close</button>
                <button type="button" class="btn btn-primary" (click)='applyAutoscaling(minwpinput.value, maxwpinput.value)' i18n>Apply</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!--                           -->
      <!-- Modal: Config Worker Pool -->
      <!--                           -->
      <div class="modal fade" id="modal-config-wp" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="config-wp-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-config-wp")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="config-wp-value">
                        <label for="config-wp-type" i18n>Virtual Machine Type:</label>
                        <select #configwptype class="custom-select rounded-0" name="config-wp-type" id="config-wp-type">
                          <option>Value 1</option>
                        </select>
                        <div class="pane fade" id="config-wp-memory" name="config-wp-memory" style="display: none;" aria-hidden="true">
                          <label for="config-wpumem-sockets" i18n>Sockets:</label>
                          <input #configwpcpumemsockets type="number" class="form-control" id="config-wpumem-sockets" name="config-wpumem-sockets">
                          <label for="config-wpumem-cores" i18n>Cores:</label>
                          <input #configwpcpumemcores type="number" class="form-control" id="config-wpumem-cores" name="config-wpumem-cores">
                          <label for="config-wpumem-threads" i18n>Threads:</label>
                          <input #configwpcpumemthreads type="number" class="form-control" id="config-wpumem-threads" name="config-wpumem-threads">
                          <label for="config-wpumem-memory" i18n>Memory (in GB):</label>
                          <input #configwpcpumemmemory type="number" class="form-control" id="config-wpumem-memory" name="config-wpumem-memory">
                        </div>
                        <label for="config-wp-priorityclass" i18n>Priority Class:</label>
                        <select #configwppc class="custom-select rounded-0" name="config-wp-pc" id="config-wp-pc">
                          <option>Value 1</option>
                        </select>
                        <label for="config-wp-disk" i18n>Boot Disk</label>
                        <div class="row">
                            <div class="col-3">
                                <label for="config-wp-disksize" i18n>Size in GB:</label>
                                <input #configwpdisksize type=number class="form-control" name="config-wp-disksize" id="config-wp-disksize" placeholder="100">
                            </div>
                            <div class="col-3">
                                <label for="config-wp-disksc" i18n>Storage Class:</label>
                                <select #configwpdisksc class="custom-select rounded-0" name="config-wp-disksc" id="config-wp-disksc">
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="config-wp-diskam" i18n>Access Mode:</label>
                                <select #configwpdiskam class="custom-select rounded-0" name="config-wp-diskam" id="config-wp-diskam">
                                    <option>ReadWriteOnce</option>
                                    <option>ReadOnlyMany</option>
                                    <option>ReadWriteMany</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="config-wp-diskcm" i18n>Cache Mode:</label>
                                <select #configwpdiskcm class="custom-select rounded-0" name="config-wp-diskcm" id="config-wp-diskcm">
                                  <option value="">Automatic</option>
                                  <option value="none">None</option>
                                  <option value="writethrough">WriteThrough</option>
                                  <option value="writeback">WriteBack</option>
                                </select>
                            </div>
                        </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-config-wp")' i18n>Close</button>
              <button type="button" class="btn btn-primary" i18n>Apply</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </div>
</div>