<div class="content">
  <div class="container-fluid">
    <div class="content-wrapper">
      &nbsp;<br>
      <div class="card card-outline" *ngFor="let thisNode of nodeList">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-hdd"></i>
            &nbsp;&nbsp;{{thisNode.name}}
          </h3>
        </div>
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item"><ng-container i18n>Hostname</ng-container> <span class="float-right badge bg-primary">{{thisNode.name}}</span></li>
            <li class="nav-item"><ng-container i18n>Architecture</ng-container> <span class="float-right badge bg-primary">{{thisNode.arch}}</span></li>
            <li class="nav-item"><ng-container i18n>Operating System</ng-container> <span class="float-right badge bg-primary">{{thisNode.os}}</span></li>
            <li class="nav-item"><ng-container i18n>Pod CIDR</ng-container> <span class="float-right badge bg-primary">{{thisNode.cidr}}</span></li>
            <li class="nav-item"><ng-container i18n>CPU</ng-container> <span class="float-right badge bg-primary">{{thisNode.cpu}}</span></li>
            <li class="nav-item"><ng-container i18n>Memory</ng-container> <span class="float-right badge bg-primary">{{thisNode.mem}}</span></li>
            <li class="nav-item"><ng-container i18n>Disk</ng-container> <span class="float-right badge bg-primary">{{thisNode.disk}}</span></li>
            <li class="nav-item"><ng-container i18n>OS Image</ng-container> <span class="float-right badge bg-primary">{{thisNode.osimg}}</span></li>
            <li class="nav-item"><ng-container i18n>Kernel</ng-container> <span class="float-right badge bg-primary">{{thisNode.kernel}}</span></li>
            <li class="nav-item"><ng-container i18n>CRI Version</ng-container> <span class="float-right badge bg-primary">{{thisNode.criver}}</span></li>
            <li class="nav-item"><ng-container i18n>Kubernetes Version</ng-container> <span class="float-right badge bg-primary">{{thisNode.kubever}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
